input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mat-dialog-content {
  overflow: hidden;

  .mat-dialog-actions {
    margin-bottom: 0;
  }
}

.addMovie {
  .form-group {
    label {
      font-weight: bold;
    }

    textarea {
      resize: both;
      max-height: 200px;
      max-width: 100%;
      min-height: 100px;
      min-width: 100%;
    }
  }
}
