@import "../../tools/vars";
@import "../../tools/mixins";

.main-movies {
	@include bp-mobile {
		max-height: calc(100% - 150px);
	}

	@include bp-tablet {
		max-height: calc(100% - 230px);
	}

	max-height: calc(100% - 125px);
	overflow: hidden auto;

	hr {
		width: 3%;
		background: white;
		border-width: 3px;
	}

	&__title {
		@include bp-mobile {
			margin: 1em 0 0;
			font-size: 30px;
		}

		text-align: center;
		margin: 15px 0;
		font-weight: bold;
		font-size: 60px;
		color: $c-white;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 3em;
		margin-bottom: 1em;
	}
}
