<nav class="navbar navbar-expand navbar-light header-navbar">
  <div class="nav navbar-nav">
    <span>
      <img
        src="https://s3.amazonaws.com/herolo/herolo-logo-animated.gif"
        alt="herolo-logo"
      />
    </span>

    <div class="form-inline search-movie">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        #movieVal
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        (click)="getMovieSearch()"
      >
        Search
      </button>
    </div>

    <div class="nav-btn">
      <button
        class="mdc-button mdc-button--raised mdc-button--dense"
        (click)="addMovie()"
      >
        Show Movie
      </button>
    </div>
  </div>
</nav>

<div class="main-movies">
  <h2 class="main-movies__title">Most Popular Movies</h2>
  <hr />
  <div class="main-movies__items">
    <app-movie
      *ngFor="let movie of movies"
      (infoMovie)="getInfoMovie($event)"
    ></app-movie>
  </div>
</div>
<app-modal [movieInfo]="movieInfo" *ngIf="movieInfo"></app-modal>
