<h3 class="text-design">Remove Movie</h3>
<hr />
<mat-dialog-content>
	<span>Are you sure you want to remove this movie?</span>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button type="submit" mat-raised-button color="accent" (click)="removeMovie()" *ngIf="isFavorite()">Ok</button>
	<button type="submit" mat-raised-button color="accent" (click)="removeFavorite()" *ngIf="!isFavorite()">Ok</button>
	<button type="button" mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
