<!-- MODAL INFO FOR EDIT -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="form-group">
          <label>Movie Name: </label>
          <h4 style="font-weight: bold;margin:0;">{{ movieInfo.title }}</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="text-design">Summary:</h5>
        {{ movieInfo.overview }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" mat-raised-button color="warn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
