.modal {
  transition: ease-in-out 0.3s;

  &-header {
    label {
      font-weight: bold;
      font-size: 26px;
      color: #8b44f1;
    }
  }
}

.text-design {
  font-weight: bold;
  color: #8b44f1;
}
