<!-- MODAL FOR INFO ABOUT MOVIE -->
<div class="modal fade movie" id="movie">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header movie__header">
        <div class="form-group">
          <label>Movie Name: </label>
          <h4 style="font-weight: bold;margin:0;">{{ movieInfo.title }}</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="text-design">Summary:</h5>
        {{ movieInfo.overview }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" mat-raised-button color="warn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FOR ADD MOVIE -->
<div class="modal fade addMovie" id="addMovie">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header addMovie__header">
        <h2 class="text-design">Add Movie</h2>

        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <form (ngSubmit)="onAddMovie(infoForm)" #infoForm="ngForm">
        <div class="modal-body addMovie__body">
          <div class="form-group">
            <label for="movie-name">Movie Name:</label>
            <input type="text" id="movie-name" name="movieName" class="form-control" ngModel required>
          </div>

          <div class="form-group">
            <label for="release-date">Release Date:</label>
            <input type="date" name="movieReleaseDate" id="release-date" class="form-control" ngModel required>
          </div>

          <div class="form-group">
            <label for="movie-overview">Overview:</label>
            <textarea name="movieOverView" id="movie-overview" rows="3" class="form-control"
              placeholder="Tell us about your movie..." ngModel required></textarea>
          </div>
        </div>


        <!-- Modal footer -->
        <div class="modal-footer addMovie__footer">
          <button type="submit" mat-raised-button color="primary" [disabled]="!infoForm.valid">
            Add Movie
          </button>
          <button type="button" mat-raised-button color="accent" (click)="resetForm(infoForm)">Reset</button>
          <button type="button" mat-raised-button data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- MODAL FOR UPDATE MOVIE -->
<div class="modal fade updateMovie" id="updateMovie">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header updateMovie__header">
        <h2 class="text-design">Update Movie</h2>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="updateForm" (ngSubmit)="onUpdateMovie()">
        <div class="modal-body updateMovie__body">
          <div class="form-group">
            <label for="movie-name">Movie Name:</label>
            <input type="text" id="movie-name" name="movieName" class="form-control" formControlName="title">
          </div>

          <div class="form-group">
            <label for="release-date">Release Date:</label>
            <input type="date" name="movieReleaseDate" id="release-date" class="form-control"
              formControlName="releaseDate">
          </div>

          <div class="form-group">
            <label for="movie-overview">Overview:</label>
            <textarea name="movieOverView" id="movie-overview" rows="3" class="form-control"
              placeholder="Tell us about your movie..." formControlName="overView"></textarea>
          </div>
        </div>


        <!-- Modal footer -->
        <div class="modal-footer updateMovie__footer">
          <button type="submit" mat-raised-button color="primary" [disabled]="!updateForm.valid">
            Update Movie
          </button>
          <button type="button" mat-raised-button data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>