@import "tools/mixins";

@include google-font("Assistant");
@include google-font("Roboto");

* {
  outline: none !important;
}

html,
body {
  height: 100%;
  overflow: hidden auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  @include bp-tablet {
    padding-top: 17em;
  }

  background: url("./images/stars.jpg") no-repeat center / cover;
  padding-top: 8em;
}
