@import "tools/mixins";

@include google-font("Assistant");
@include google-font("Roboto");

* {
  outline: none !important;
}

html,
body {
  height: 100%;
  overflow: hidden auto;
}

body {
  @include bp-tablet {
    padding-top: 17em;
  }

  background: url("./images/stars.jpg") no-repeat center / cover fixed;
  padding-top: 8em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container.red-alert {
  color: #c43e3e;
}

.mat-dialog-container {
  overflow: hidden auto;
}

::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: rgba(255, 255, 255, 0.89);
    border-radius: 1em;
  }

  &-thumb {
    background: #3f51b5c4;
    border-radius: 1em;

    &:hover {
      background: #4d6fe0;
    }
  }
}

.cdk-global-scrollblock {
  overflow: hidden !important;
}

.text-design {
  font-weight: bold;
  color: #3f51b5;
}
