@import url("https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800");

body {
  font-family: "Assistant", sans-serif;
  background: url("./images/img-cinema.jpg") no-repeat center / cover;
  background-attachment: fixed;
}
