@import "../../tools/mixins";
@import "../../tools/vars";

.favorite-header {
  @include bp-mobile {
    margin: 3em 0 2em;
  }

  margin-bottom: 2em;

  button {
    width: 5%;
    padding: 4px;

    span {
      font-size: 18px;
    }
  }
}
