@import "../../tools/mixins";
@import "../../tools/vars";

.favorite-header {
  @include bp-mobile {
    margin: 1em 0 2em;
  }

  margin-bottom: 2em;

  h2 {
    @include bp-mobile {
      margin: 15px 0 0;
      font-size: 30px;
    }
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    font-size: 60px;
    color: $c-white;
  }

  hr {
    width: 3%;
    background: white;
    border-width: 3px;
  }
}
