<div class="movie-info">
    <h3>{{ movie.title }}</h3>
</div>
<div class="movie-info">
    <label>ID:</label>
    <span>{{ movie.id }}</span>
</div>
<div class="movie-info">
    <label>Year:</label>
    <span>{{ movie.year }}</span>
</div>
<div class="movie-info">
    <label>Runtime:</label>
    <span>{{ movie.runtime }}</span>
</div>
<div class="movie-info">
    <label>Genre:</label>
    <span>{{ movie.genre }}</span>
</div>
<div class="movie-info">
    <label>Director:</label>
    <span>{{ movie.director }}</span>
</div>
