<div class="flip-card">
  <div class="flip-card-inner">
    <div class="front-info" [ngStyle]="imageUrl"></div>
    <div class="back-info">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span data-toggle="modal" data-target="#myModal" class="edit-icon clicked" (click)="openInfo()">
          <i class="fas fa-info-circle"></i>
        </span>
      </div>
      <div class="movie-info">
        <h3>{{ movie.title }}</h3>
      </div>
      <div class="movie-info">
        <label>ID:</label>
        <span>{{ movie.id }}</span>
      </div>
      <div class="movie-info">
        <label>Release Date:</label>
        <span>{{ movie.release_date }}</span>
      </div>
      <div class="movie-info movie-info-scroll">
        <label>Overview:</label>
        <span>{{ movie.overview }}</span>
      </div>
      <div class="save" fxLayout="row" fxLayoutAlign="center">
        <button type="submit" mat-raised-button (click)="wishList()" routerLink="favorites" class="clicked">Save
        </button>
      </div>
    </div>
  </div>
</div>
