@mixin background-image($url, $pos, $size) {
  background-image: url("#{$url}");
  background-position: $pos;
  background-size: $size;
}

@mixin bp-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin bp-tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
